/* header background, checkbox outline, footer buttons etc. */
.app-theme-color {
  background-color: rgb(90, 203, 161);
}

.header {
  /* height: 10vh;
  width: 100vw; */
  display: flex;
}

.table-header-bg {
  background-color: rgb(222, 245, 236);
}

.table-header-text {
  color: rgb(141, 147, 144);
}

.table-data-text {
  color: rgb(112, 112, 112);
}

#table {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  font-size: 1.5em;
}

.table-header {
  background-color: rgb(90, 203, 161);
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  font-size: 1.5em;
}

img {
  border-radius: 50%;
  width: 50px;
}
